<title>Todos</title>
<body>
	<div class="container">
  		<div class="row">
    		<div class="span4">
				<h1>
					Todos List
				</h1>

				<hr>

				<div class="well">
					<div class="container">
						<ul>
							<% @todo_items.each do |t| %>
							<li>
								<%= t.todo_item %>
							</li>
							<%end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
  		<div class="row">	
			<a href="/todos/delete">Delete Last Todo</a>
		</div>
	</div>
</body>